extends ../layout
include ../components/main-nav
include ../components/sidebar

block content
  .admin.wrapper
    +main-nav()

    .content(style='width: 90%; margin: 0 auto;')
      +sidebar('Admin Tools')(style='float: left;')
        +sidebaritem('Users', '/admin', true);
        +sidebaritem('Servers', '/admin/servers', false);

      .model-data.module(style='margin-left: 260px; padding: 30px;')
        h1 Users
        each user in users
          div
            span(style="width: 100px; display: inline-block;")= user.name + " "
            span(style="width: 100px; display: inline-block;") ****** 
            span(style="width: 100px; display: inline-block;")= user.type + " "