extends ../layout
include ../components/main-nav
include ../components/sidebar

block content
  .admin.wrapper
    +main-nav()

    .content(style='width: 90%; margin: 0 auto;')
      +sidebar('Admin Tools')(style='float: left;')
        +sidebaritem('Users', '/admin', false);
        +sidebaritem('Servers', '/admin/servers', true);

      .model-data.module(style='margin-left: 260px; padding: 30px;')
        h1 Admin Page
        p Admins should be able to manage users and servers
        p They can change user types (member, admin, etc), send password reset emails, or just view stats
        p With servers they can create new ones, manage permissions, etc
        p Also, they should have a setting here on whether or not to allow new user registration
