#header #nav {
  background-color: #333;
  color: #fff;
}
#header #nav .title {
  display: inline-block;
  padding-left: 20px;
  color: #90ee90;
  font-size: 30px;
}
#header #nav .item {
  display: inline-block;
  padding: 14px 20px;
  cursor: pointer;
}
#header #nav .item:hover {
  color: #ccc;
}
#header #nav .security {
  float: right;
  cursor: pointer;
  padding: 14px 15px;
  color: #000;
  background-color: #90ee90;
}
#header #nav .security:hover {
  background-color: #008000;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1051;
}
#footer #copyright {
  text-align: center;
}
#footer #alerts {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 10px;
}
#login {
  text-align: center;
  padding-top: 100px;
}
#users {
  padding-top: 10px;
}
#servers {
  padding-top: 15px;
}
#servers .create-server {
  float: right;
  margin-right: 20px;
}
#servers .no-servers {
  padding-left: 20px;
}
#servers .title {
  display: inline-block;
}
#servers .status {
  background-color: #008000;
  display: inline-block;
  padding: 10px 20px;
  margin-left: 40px;
  position: relative;
  top: -8px;
}
#servers .status.stopped {
  background-color: #f00;
}
#servers .lbl {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
#servers .log-box {
  height: 500px;
  overflow: auto;
  background-color: #000;
  color: #fff;
}
#servers .log-box div {
  padding: 1px 10px;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
