#login
  text-align: center
  padding-top: 100px

  .label
    display: inline-block
    width: 100px
    margin: 10px 0

  .btn
    padding: 10px 20px

  .msg
    display: inline-block
    padding: 10px 20px
    border-radius: 4px

  .error-msg
    background-color: rgb(255, 165, 165)

  .info-msg
    background-color: rgb(165, 230, 255)
