extends ../layout

block content
  .main
    h1 Welcome to Minetrocity
    p This page is protected by a login screen
    p Try logging out and coming directly here, you can't
    input(type="button", value="logout").logout

append scripts
  script
    $(function () {
      $('.logout').click(function (e) {
        $.post('/logout', {}, function (data) {
          if (!data.success)
            return console.log('strange things are afoot in minetrocity...');

            window.location.reload();
        });
      });
    });
