extends ../layout

block title
  title Minetrocity - Login

block content
  .login-screen.wrapper
    .title
      img(src='/img/title.png')
    .login-box.module
      .subtitle
        p Login
      div
        input(type='text', placeholder='username').user
      div
        input(type='password', placeholder='password').pass
      input(type='button', value='login').login
      .message.fadeout A Message Goes Here!!
append scripts
  script
    $(function () {
      require('/client/requires/login');
    });
