extends ../layout
include ../components/main-nav

block content
  .settings.wrapper
    +main-nav()
    .info-container
      .info.module
        h1 User Settings Page
        p Here's where the user can see his/her profile.
        p They can change a bunch of their settings:
        ul(style='margin-left: 40px;')
          li Name
          li Password
          li Email - must resend confirmation
          li Profile Image
          li anything else?
