.dropdown
  cursor: pointer
  position: relative

  .dropdown-black-arrow
    display: inline-block
    position: relative
    border: 5px solid transparent
    border-top: 8px solid black
    top: 4px
    left: 5px

  .dropdown-title
    display: inline-block

    &:hover
      text-decoration: underline

  .dropdown-options
    display: none
    position: absolute
    cursor: auto
    color: black
    background-color: white
    padding: 10px
    width: 140px
    top: 30px
    box-shadow()

    .dropdown-arrow
      position: absolute;
      top: -15px;
      border: 6px solid transparent;
      border-bottom: 9px solid white;
      left: 20px;

    .dropdown-item
      cursor: pointer
      padding: 10px
      border-bottom: 1px solid #ccc

      &:last-child
        border-bottom: none

      &:hover
        background-color: #ddd
