.sidebar
  width: 200px
  padding: 20px
  float: left

  .sidebar-title
    text-align: center
    font-size: 20px
    padding-bottom: 50px

  .sidebar-item
    cursor: pointer
    display: block
    color: black
    text-decoration: none
    padding: 10px
    border-bottom: 1px solid #ccc

    &:last-child
      border-bottom: none

    &.selected
      background-color: #bbb

    &:hover
      background-color: #ddd

