.toolbar
  background-color: black // this could maybe be obsidian?
  padding: 10px

  .toolbar-item
    color: white
    text-decoration: none
    border-radius: 4px
    padding: 5px 10px
    margin: 5px 10px

    &.selected
      background-color: #ccc
      color: black

    &:hover
      background-color: #ccc
      color: black
