extends ../layout
include ../components/main-nav

block content
  .server.wrapper
    +main-nav()
    .info.module
      h1 Server Page
      p Here's where everything we had before should go. A side nav for everything, etc.
      p I'm thinking we want to keep it all on a single page to make sure socket.io works fine.
      p We should probably also have a list of servers in the top left somewhere; maybe a dropdown?
      ul(style='margin-left: 40px;')
        li Overview
        li Console
        li Map
        li Permissions
        li Users
        li Whitelist
        li Blacklist
