.admin
  .content
    width: 90%
    margin: 0 auto

    .model-data
      margin-left: 260px
      padding: 30px

      table
        border-collapse: collapse
        width: 100%

        tr
          background-color: #ccc

          &.odd
            background-color: #aaa

          &:first-child
            background-color: #888

        td, th
          text-align: left
          padding: 10px

      .navigation
        text-align: center
        .nav-button
          padding: 0 5px
