.section
  background-color: white

  .myButton
    margin: 0 auto

    .aLink
      text-decoration: none

      &:hover
        text-decoration: underline

    &.selected
      background-color: #333

