*
  padding: 0
  margin: 0

body
  background: url('/img/bottom.png')


border-radius(r=10px)
  border-radius: 10px

box-shadow(x=0, y=0, blur=20px, thickness=2px, kolor=rgba(0, 0, 0, .5))
  box-shadow: x y blur thickness kolor

transition(secs=2s, el=all)
  transition: secs el
  -webkit-transition: secs el
